.button {
    -fx-background-color:  white;
    -fx-border-color:  rgb(201, 117, 31);
    -fx-border-width: 2;
    -fx-border-radius: 5;
}

.button:hover {
    -fx-border-color:  brown;
}

.menu-button:hover {
    -fx-border-color:  rgb(201, 117, 31);
}

.menu-item:hover {
    -fx-border-color:  rgb(201, 117, 31);
}


.label {
    -fx-text-fill: brown;
}

#shopPane {
    -fx-background-color:  white;
    -fx-border-color:  rgb(201, 117, 31);
    -fx-border-width: 4;
    -fx-border-radius: 5;
}